/* =Typography
-----------------------------------------------------------------------------*/
html,
body {
  margin:0;
  padding:0;
  height:100%;
	background-color: #fff;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 1em;
}
body, .btn {
  color: rgba(0, 0, 0, .8);
}
h1, h2, h3, h4, h5 {
	font-family: 'Oswald', 'Trebuchet MS', Helvetica, Arial, sans-serif;
}
h2, h3 { 
	font-weight: normal;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  z-index: 1;
  font-size: 1em;
}
	
/* =Links
-----------------------------------------------------------------------------*/



/* =Layout
-----------------------------------------------------------------------------*/

#container {
  min-height:100%;
  position:relative;
}
.wrapper {
	padding: 0 10px;
	width: 94%;
	max-width: 1000px;
	margin: auto;
}
#main {
  padding-bottom: 40px;
}

/* =Header
-----------------------------------------------------------------------------*/
#header {
  background-color: rgba(0, 0, 0, .8);
  padding: .5em 0;
  border-bottom: #ccc solid 1px;
  overflow: hidden;
	margin-bottom: 1em;
}
#header .fam3, #header .fam3 a {
  color: #fff;
}
#header .fam3 {
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-weight: bold;
  text-align: left;
  margin: 0;
  font-size: 2.2em;
  float: left;
  margin-right: .5em;
}
#header .fam3 a {
  text-decoration: none;
}

/* =Nav
-----------------------------------------------------------------------------*/
#header nav {
	float: right;
	padding-top: .4em;
}
#header nav ul {
	margin: 0;
	list-style: none;	
}
#header nav ul li {
	float: left;
	margin-left: 1.5em;
	font-family: 'Oswald', 'Trebuchet MS', Helvetica, Arial, sans-serif;
}
#header nav ul li a {
  text-decoration: none;
  color: #fff;
}
#header nav ul li, #header nav ul li a:hover {
  color: rgba(255, 255, 255, .6);
}

/* =Misc
-----------------------------------------------------------------------------*/


/* =Footer
-----------------------------------------------------------------------------*/
#footer,
#footer a {
  color: rgba(0, 0, 0, .3);
}
#footer {
	font-size: 12px;
	text-align: center;
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
#footer .wrapper {
  padding-top: 10px;
}
#footer ul {
  margin: 0;
  display: inline;
  list-style: none;
}
#footer li {
  display: inline;
  padding: 0 .5em;
}
#footer a {
  text-decoration: none;
}
#footer a:hover {
  color: rgba(0, 0, 0, .8);
}

/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body {font-size: 0.875em;}
  .wrapper { width: 748px; }
}


/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  body {font-size: 0.875em;}
	.wrapper { width: 300px; }
	p, ul, ol, dl, dd, dt, blockquote, td, th {line-height: 1.4em;}
	#header nav ul li { margin: 0; margin-right: 1em; }
}

@media only screen and (max-width: 479px) {
  body {line-height: 1.25em; font-size: 0.75em;}
  #header nav {padding-top: .1em;}
  #header nav ul li {margin-right: .7em;}
}

/* =Mobile (Landscape)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.wrapper { width: 420px; }
}
