/* =Typography
-----------------------------------------------------------------------------*/
input[type="email"], input[type="password"] {
  text-align: center;
  border-radius: .5em;
  margin: .2em 0;
  width: 100%;
  max-width: 200px;
  padding: .2em .5em;
}
.links a {
  font-size: .85em;
  color: rgba(0, 0, 0, .4);
  text-decoration: none;
}
.links a:hover {
  text-decoration: underline;
}
#main {
  text-align:center;
  padding-top: 2em;
}
.btn {
  font-size: 1em;
}
/* =Links
-----------------------------------------------------------------------------*/



/* =Layout
-----------------------------------------------------------------------------*/

/* =Header
-----------------------------------------------------------------------------*/


/* =Misc
-----------------------------------------------------------------------------*/



/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {

}


/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 479px) {

}

/* =Mobile (Landscape)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

}
