* {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 12px;
  
}
body {
  margin:0;
  padding:0;
  background-color: #000;
  color: #fff;
}

#tool  {
  opacity: 0.7;
  background-color: #222;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 10px 0 10px;
  border: #333 solid 1px;
}

#info {
  padding: 0px;
  top: 5px;
  left: 5px;
  font-size: 12px;
  opacity: 0.7;
  color: #fff;
  position: absolute;
}

#tool legend {
  color: #fff;
  margin-bottom: 0;
  border-bottom-color: #333;
  font-size: 18px;
}

#tool label {
  width: 100px;
}

#tool .controls {
  margin-left: 120px;
}

#tool fieldset {
  padding-bottom: 10px;
}

#sig {
  width: 100%;
  height: 600px;
  border: black solid 0px;
  background-color: #000;
  color: #fff;
}