/* =Typography
-----------------------------------------------------------------------------*/
html,
body {
  margin:0;
  padding:0;
  height:100%;
	background-color: #fff;
	/*font-family: Helvetica, Arial, Tahoma, sans-serif;*/
	font-size: 1em;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
}
body, .btn {
  color: #333;
}
.btn:hover {
  color: #000;
}

h1, h2, h3, h4, h5, legend {
	/*font-family: 'Oswald', 'Trebuchet MS', Helvetica, Arial, sans-serif;*/
}

h2, h3 { 
	font-weight: normal;
}
p {
  margin-bottom: 1em;
}
i.glyphicons-icon,  {
  vertical-align: middle;
}
a i.halflings-icon {
  vertical-align: baseline;
}
.text-right {
  text-align: right;
}
.mb0 {
  margin-bottom: 0;
}
/*input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  z-index: 1;
  font-size: 1em;
}*/
	
/* =Links
-----------------------------------------------------------------------------*/


/* =Forms
-----------------------------------------------------------------------------*/
legend {
  font-weight: normal;
  text-transform: none;
}
.forms.columnar legend {
  margin-bottom: 0;
}

/* =Layout
-----------------------------------------------------------------------------*/

#container {
  min-height:100%;
  position:relative;
}
.wrapper {
	padding: 0 10px;
	width: 94%;
	max-width: 1000px;
	margin: auto;
}
#main {
  padding-top: 70px;
  padding-bottom: 50px;
}

/* =Header
-----------------------------------------------------------------------------*/
#header {
  width: 100%;
  position: fixed;
  /*background-color: #333;*/
  background-color: #33aa66;
  /*background-color: #990033;*/
  box-shadow: 0 1px 2px #66CC99;
  padding: 0 0;
  overflow: hidden;
  z-index: 999;
	/*margin-bottom: 1.5em;*/
}
#header .fam3, #header .fam3 a {
  color: #fff;
}
#header .fam3 {
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-weight: bold;
  text-align: left;
  margin: 0;
  font-size: 2em;
  float: left;
  margin-right: .5em;
  text-shadow: #555 0 1px 2px;
  padding-bottom: 3px;
}
#header .fam3 a {
  text-decoration: none;
}
.fam3 sup {
  margin-left: .2em;
  font-size: 50%;
  color: #fff;
  text-shadow: none;
  border-bottom: #fff solid 1px;
}

/* =Nav
-----------------------------------------------------------------------------*/
#header nav {
	float: right;
	padding-top: .5em;
}
#header nav ul {
	margin: 0;
	list-style: none;	
}
#header nav ul li {
	float: left;
	margin-left: 1.5em;
	font-family: 'Oswald', 'Trebuchet MS', Helvetica, Arial, sans-serif;
}
#header nav ul li a {
  text-decoration: none;
  color: #fff;
}
#header nav ul li span, #header nav ul li a:hover {
  color: #000;
}

/* =Misc
-----------------------------------------------------------------------------*/


/* =Footer
-----------------------------------------------------------------------------*/
#footer,
#footer a {
  color: #666;
}
#footer {
	font-size: 12px;
	text-align: center;
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
#footer .wrapper {
  padding-top: 15px;
}
#footer ul {
  margin: 0;
  display: inline;
  list-style: none;
}
#footer li {
  display: inline;
  padding: 0 .5em;
}
#footer a {
  text-decoration: none;
}
#footer a:hover {
  color: #000;
}

/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body {font-size: 0.875em;}
  .wrapper { width: 748px; }
  #main {padding-top: 60px;}
}


/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  body {font-size: 0.875em;}
  h2 {font-size: 1.5em;}
  h3 {font-size:1.2em;}
	.wrapper { width: 300px; }
	.wrapper { width: 100%; padding: 0;}
  .subwrapper {padding: 0 10px;}
	p, ul, ol, dl, dd, dt, blockquote, td, th {line-height: 1.4em;}
	#header nav ul li { margin: 0; margin-right: 1em; }
	#main {padding-top: 50px;}
}

@media only screen and (max-width: 479px) {
  h1, #header .fam3 {font-size:1.5em;}
  /*body {line-height: 1.25em; font-size: 0.75em;}*/
  #header nav {padding-top: .25em;}
  #header nav ul li {margin-right: .7em;}
  #main {padding-top: 40px;}
}

/* =Mobile (Landscape)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}
