/* =Feed
-----------------------------------------------------------------------------*/
#feed {
  background-color: #eee;
  padding-bottom: 1px;
  clear: both;
}
.feed_container.without_tabs #feed {
  padding-top: 1px;
}
#feed.empty {
  background: none;
  padding: 0;
}
#feed .post {
  /*border-left: #666 solid 4px;
  background-color: #eee;*/
  line-height: 1.4em;
  margin-bottom: 1px;
  background-color: #fff;
  padding: 1em;
  border-right: #eee solid 1px;
  border-left: #eee solid 1px;
}
#feed .post {
  border-right: #eee solid 1px;
  border-left: #66CC99 solid 4px;
}
#feed .post dl {
  margin-bottom: 0;
}
#feed .post:last-child {
  margin-bottom: 0px;
}
#feed .post .title {
  line-height: 1em; 
}
#feed .post .body {
  clear: both;
  word-wrap: break-word;
  overflow: hidden;
}
#feed .post .author {
  float: left;
}
#feed .post .recipient {
  float: right;
}
#feed .post .author, #feed .post .recipient, #feed .post .contractor {
  padding-bottom: 5px;
}
#feed .post .recipient i {
  font-size: 12px;
  color: #999;
}
#feed .post .contractor .open {
  float: right;
  font-weight: normal;
}
#feed .post .dt {
  font-size: 11px;
  color: #999;
  clear: both;
}
#feed .post.private {
  border-left-color: #cc0033;
  /*padding: .7em 1em;*/
  /*background-color: #333;
  color: #fff;*/
  /*border-left: #999 solid 6px;*/
  /*box-shadow: 0 0 5px #ccc;*/
}
#feed .post.system {
  border-left-color: #333;
  /*padding: .75em 1em;
  background-color: #333;
  color: #fff;*/
  /*box-shadow: 0 0 5px #111;*/
}
#feed .post.system ul {
  list-style-type: none;
  margin: 0;
}
#feed .profile.is_my {
  color: #CC0033;
  font-weight: normal;
}
.tabs_container {
  margin-bottom: 1em;
}
.feed_container .tabs_container ul li .active,
.feed_container .tabs_container ul span {
  border-color: #eee;
  border-bottom-color: #fff;
}
.feed_container .tabs_container ul {
  padding-left: 4px;
}
.feed_container .tabs_container {
  border-bottom-color: #eee;
  margin-bottom: 0;
}
.feed_container.can_write .tabs_container ul li .active,
.feed_container.can_write .tabs_container ul span {
  border-bottom-color: #f6f6f6;
  background-color: #f6f6f6;
}
/*.feed_container .relatives {
  position: fixed;
}*/
.feed_index {
  margin-bottom: 0;
}

/* =Write post
-----------------------------------------------------------------------------*/
#write_post.post {
  background-color: #f6f6f6;
}
#write_post.post .more {
  display: none;
}
#write_post.post.expanded .more {
  display: block;
}
#write_post.post.expanded textarea {
  height: 100px;
}
#write_post.post .body {
  overflow: visible;
}
#write_post .avatar {
  display: block;
  float: left;
}
#write_post form {
  margin-bottom: 0;
}
#write_post input[type="submit"] {
  font-weight: normal;
}
#write_post .privacy {
  padding-left: 10px;
}
#write_post .privacy .title {
  padding-right: 5px;
  font-size: .85em;
}
#write_post .privacy .title {
  color: #666;
}
/*#feed #write_post.post {
  border-left: #eee solid 1px;
}*/

/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  #feed {padding-bottom: 1px;}
  #feed .post {border-left-width: 8px;}
  #content .tabs_container ul {padding-left: 0;}
  #content .tabs_container ul li,  #content .tabs_container ul li a,  #content .tabs_container ul li span {display: inline;}
  #content .tabs_container ul {padding-bottom: 9px;margin-bottom:-1px;}
  .feed_container .relatives {position: static;}
}

@media only screen and (max-width: 479px) {
  #write_post .privacy .title {display: none;}
}