/* =Typography
-----------------------------------------------------------------------------*/
body {
  
}
#main {
  padding-top:0;
}
.glyphicons-icon {
  opacity: .9;
  vertical-align: middle;
}
#hheader {
  padding: 1em 0 1.5em 0;
  background-color: #33aa66;
  /*box-shadow: 0 0 5px #990000;*/
  color: #fff;
}
#hheader .inner {
  padding-top: 0;
}
#showcase {
  border-radius: 0px;
  color: #fff;
  text-shadow: #555 0 1px 2px;
}
#showcase .features {
  font-size: 1.2em;
  list-style-type: square;
}
#showcase .features li {
  margin: .5em 0;
}
#showcase .promo {
  padding: .5em 0;
  background-color: #fff;
  box-shadow: 0 2px 10px #333;
  float: left;
}
.fam3is {
  font-family: Helvetica, Arial, Tahoma, sans-serif;
}
h1.fam3 {
  color: #fff;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 0;
  text-shadow: #555 0 1px 2px;
}

h1.subheader {
  color: #fff;
  margin-bottom:0;
  text-shadow: #555 0 1px 2px;
}
.thesis h2 {
  margin-bottom: 0;
}
.join {
  float:left;
  background-color:#f6f6f6;
  border-radius:10px;
  box-shadow: 1px 1px 4px #888;
  margin-bottom: 1em;
}
.join .joininner {
  padding-bottom: 2em;
}
.joininner {
  margin: 1.5em 2em 0em 2em;
}
.mainform {
  margin:0;
}
.mainform input {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  box-shadow: none;
}
.mainform ul li {
  margin-bottom: 1em;
}
.mainform ul li:last-child {
  margin-bottom:0;
}
.mainform input.btn {
  padding:6px 15px;
  color: #333;
}
.mainform .btn, .mainform .mainbutton {
  font-size: 1em;
  font-weight: normal;
}
.mainform .mainbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;
}.mainbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}.mainbutton:active {
	position:relative;
	top:1px;
}
ul.social {
  list-style: none;
  margin: 0;
}
.social li {
  float: left;
  margin: 0 4px;
}
.social li:first-child {
  margin-left:0;
}

	
/* =Links
-----------------------------------------------------------------------------*/



/* =Layout
-----------------------------------------------------------------------------*/


/* =Header
-----------------------------------------------------------------------------*/


/* =Misc
-----------------------------------------------------------------------------*/


/* =Footer
-----------------------------------------------------------------------------*/


/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  
}


/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  #hheader {padding: .5em 0 0 0;}
  #hheader .inner {padding: 0;}
  #showcase {padding: .5em;}
  #showcase .features li { margin: 0;}
  h1.subheader {text-shadow: #666 0 0 1px;}
}

@media only screen and (max-width: 479px) {
  .join {float: none}
  #showcase {display:none;}
  #hheader {padding: .5em 0 1em 0;}
  .joininner {padding-top:0;}
  .join .joininner {padding-top:1.5em;margin-top:0;}
  #main {padding-bottom: 10px;}
}

/* =Mobile (Landscape)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper { width: 460px; }
}
