/* =Typography
-----------------------------------------------------------------------------*/
.demo_bordered, #profile.demo_bordered, #relatives.demo_bordered {
  border: #ccc dashed 2px;
  border-radius: .5em;
  padding: 1em;
  opacity: .5;
}

/*.forms label, .forms section,*/ .forms .descr {
  color: #999;
}


/* =Profile
-----------------------------------------------------------------------------*/
#profile {
  color: rgba(0, 0, 0, .5);
  font-size: 1.2em;
  min-height: 150px;
}
#profile .name {
	margin: 0 0 .2em 0;
	font-size: 2em;
	color: #333;
	line-height: 1.1em;
}
#profile .noavatar {
  border: rgba(0, 0, 0, .1) solid 1px;
}
#profile .mainimage {
  float: left;
  margin: 0 0.75em 0 0;
  border-radius:0.5em;
  max-width: 25%;
}

/* =Content
-----------------------------------------------------------------------------*/
ul#tabs {
	list-style: none;
	padding: 0 0 ;
	margin: 0 0 1.5em 0;
}
ul#tabs li {
  display: inline;
  padding: .2em .5em;
  
}
ul#tabs li:first-child {
  padding-left: 0;
}
ul#tabs li:last-child {
  padding-right: 0;
}
ul#tabs li a {
	text-decoration: none;
	color: #999;
	font-weight: lighter;
	font-size: 1.2em;
	font-family: 'Oswald', 'Trebuchet MS', Helvetica, Arial, sans-serif;
	white-space: nowrap;
	margin: .5em 0;
}
ul#tabs li a:hover {
  color: #333;
}
ul#tabs li.selected a{
  color: #fff;
}
ul#tabs li.selected {
  background: #ccc;
  padding: 5px 10px;
}
.tabs_and_tab_content_container {
  margin-bottom: .5em;
}
.relatives_and_tabs_and_tab_content_container {
  padding-top: 1em;
}

/* =Nav
-----------------------------------------------------------------------------*/
#header nav .new {
  background-color: rgba(255, 0, 0, .8);
  color:#fff;
  margin-left: 4px;
  padding: 1px 6px;
  font-size: 1em;
  line-height: 1em;
}

/* =Relation menu
-----------------------------------------------------------------------------*/
#relatives {
  margin-bottom: 1em;
}
#relatives .relation_group {
  padding: 0;
  padding-bottom: .7em;
}
#relatives .relation_group:last-child {
  padding: 0;
}
#relatives .relation_group ul a {
  text-decoration: none;
  color: rgba(0, 136, 204, .8);
}
#relatives .relation_group ul a:hover{
  text-decoration: underline;
}
#relatives .relation_group .group_name {
	font-family: 'Oswald', 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 0.2em;
}
#relatives ul li {
	padding: 1px 0;
}
#relatives ul {
	margin: 0;
	list-style: none;	
}


/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .demo_bordered ul#tabs li a {font-size: 1em;}
}


/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	#profile {min-height:100px;}
	#profile .name {font-size: 1.5em;}
	#profile .mainimage {margin-right: .5em;}
	ul#tabs {margin-bottom: 1em;}
	ul#tabs li a {font-size: 1em;}
}

@media only screen and (max-width: 479px) {
  #header {padding-bottom: 0.5em; margin-bottom:.5em;}
  #header .fam3 {font-size:1.5em;}
  #header nav .new {padding: 0;margin-left:3px;background:none;color:rgb(255, 0, 0);}
	#profile {font-size: 1em;min-height:71px;}
	#profile,
	#relatives {background-color: rgba(0, 0, 0, .05); border-radius: .5em; padding: .75em; box-shadow: .25em .25em .25em #ccc;}
	#relatives .relation_group {padding-bottom: .5em;}
	.relatives_and_tabs_and_tab_content_container {padding-top: .5em;}
	#relatives.demo_bordered {margin-bottom: .5em;}
	ul#tabs li.selected {box-shadow: none;}
}

/* =Mobile (Landscape)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

}
