/* =Typography
-----------------------------------------------------------------------------*/
.relatives_and_content_container {
  padding-top: 1.5em;
}
.demo_bordered, #profile.demo_bordered, .relatives.demo_bordered {
  border: #ccc dashed 2px;
  border-radius: .5em;
  padding: 1em;
  opacity: .5;
}

/* =Links
-----------------------------------------------------------------------------*/
a.profile, .profile a {
  text-decoration: none;
  word-wrap: break-word;
  overflow: hidden;
  vertical-align: middle;
  color: rgb(0, 136, 204);
}
a.profile:hover, .profile a:hover {
  color: #cc0033;
}
a.profile.is_my, .profile a.is_my {
  
}
.relatives a.profile.has_user, .relatives .profile a.has_user {
  font-weight: bold;
}
a.profile.is_current, .profile a.is_current {
  color: #CC0033;
  display: inline-block; 
}
.relatives a.profile.is_current.has_user:first-letter, .relatives .profile a.is_current.has_user:first-letter {
  font-weight: bold;
}
.avatar {
  border-radius: 5px;
  vertical-align: middle;
}

/* =Profile
-----------------------------------------------------------------------------*/
#profile {
  /*border: #666 solid 2px; background-color: #fff; border-radius: .5em; padding: 1em; box-shadow: 2px 2px 4px #ccc;*/
  color: #555;
  font-size: 1.2em;
  min-height: 150px;
  line-height: 1.4em;
}
#profile.without_user h1.name {
  font-weight: normal;
}
#profile .mainimage {
  float: left;
  margin: 0 1em 0 0;
  max-width: 25%;
  border-radius: .5em;
  box-shadow: 1px 1px 4px #000;
  /*box-shadow: 2px 2px 4px #666;*/
}
#profile .mainimage:hover {
  opacity: .75;
}
#profile .mainimage.noavatar {
  border: #ccc solid 1px;
}
#profile h1.name {
	margin: 0;
	font-size: 2em;
	line-height: 1.1em;
	word-wrap: break-word;
  overflow: hidden;
}
#profile h1.name a {
  text-decoration: none;
  color: #333;
}
#profile .relation {
  /*color: #009933;*/
  color: #000;
  font-weight: bold;
  /*background-color: #fff;
  border-radius: 5px;
  padding: 2px 8px;*/
}
#profile .relation.is_my {
  color: #CC0033;
}
#profile .places {
  word-wrap: break-word;
  overflow: hidden;
}

/* =Actions
-----------------------------------------------------------------------------*/
#actions {
  float: right;
  text-align: right;
}
#actions ul {
  list-style: none;
  margin:0;
}
#actions li {
  padding-bottom: 1em;
}
#actions li:last-child {
  padding-bottom: 0;
}
#actions .btn {
  font-weight: normal;
}
.profile_and_actions_container .actions_container {
  margin-bottom: 0;
}

/* =Tabs
-----------------------------------------------------------------------------*/
.tabs_container
{
  margin-bottom: 0;
}
.tabs_container ul li a:hover {
  text-decoration: none;
}
.write_post_link {

}


/* =Relation menu
-----------------------------------------------------------------------------*/
.relatives {
  
}
.relatives_container .name {
  padding-bottom: .5em;
}
.relatives_container .profile_relatives {
  margin-top: 1em;
}
.relatives .relation_group {
  padding: 0;
  padding-bottom: .7em;
  display: list-item;
  list-style-type: none;
  margin-left: 0;
}

.relatives .relation_group .group_name {
  font-family: 'Oswald', 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  color: #999;
  margin-bottom: 0;
}
.relatives .relation_group .group_name.is_my {
  color: #333;
}
.relatives ul {
	margin: 0;
	list-style: none;	
}
.relatives ul li {
	padding: 0;
}
.relatives ul li.current a.profile, .relatives ul li.current .profile a {
  /*color:#fff;
  background-color: #cc0033;
  padding: 3px 8px;*/
  color: #cc0033;
  
}

.tab_relatives .relatives .relation_group ul li {
  float:left;
  padding-right: 10px;
}
.tab_relatives .relatives .relation_group {
  clear:both;
  padding-top: 10px;
}
.tab_relatives .relatives .relation_group:first-child {
  padding-top: 0;
}

/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 959px) {
  /*.relatives ul li.current a.profile {padding: 2px 5px;}*/
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  #profile {min-height: 132px;}
  #profile h1.name {font-size: 1.75em;}
  .demo_bordered #tabs li a, .demo_bordered #tabs li a {font-size: 1em;}
}

/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	#profile {min-height:98px;}
	.relatives_and_content_container {padding-top: 0;}
	#actions {margin-bottom: .5em;float: none;text-align: left;}
	.profile_and_actions_container .profile_container {margin-bottom:1em;}
	.relatives .relation_group ul li {float:left;padding-right: 10px;}
	.relatives .relation_group, .relatives .relation_group:last-child {clear:both;padding-top: 10px;}
	#header {margin-bottom: 1em;}
	#profile h1.name {line-height: 1em;}
	/*.relatives .relation_group:first-child {padding-top:0;}*/
	/*#tabs li a, .write_post_link {font-size: 1em;}*/
}

@media only screen and (max-width: 479px) {
	#profile {font-size: 1em;min-height:71px;}
	/*#profile,
	.relatives {background-color: #eee; border-radius: .5em; padding: .75em; box-shadow: 2px 2px 4px #ccc;border: #ccc solid 2px;}*/
	.relatives .relation_group {padding-bottom: .5em;}
	#profile h1.name {font-size: 1.4em;}
	.relatives.demo_bordered {margin-bottom: .5em;}
}
