/* =Typography
-----------------------------------------------------------------------------*/
input[type="email"], input[type="password"] {
  text-align: center;
  margin: .2em 0;
  width: 100%;
  max-width: 200px;
  padding: .2em .5em;
}
input[type="submit"].btn {
  font-weight: normal;
}
.links {
  padding-top: .5em;
}
.links a {
  color: #999;
  text-decoration: none;
  font-size: 14px;
}
.links a:hover {
  text-decoration: underline;
}
#main {
  text-align:center;
}
#main h1 {
  margin-bottom: .75em;
}
