#settings .sections ul {
  margin: 0;
	list-style: none;	
	line-height: 2em;
	float: left;
}
#settings .sections ul li {
  margin: 1px 0 1px 0;

}
#settings .sections ul li.active, #settings .sections ul li:hover {
  
}
#settings .sections ul li.active a, #settings .sections ul li a:hover {
  color: #cc0033;
}
#settings .sections a {
  text-decoration: none;
  color: #333;

}
#settings .content {
  
}