/* =Typography
-----------------------------------------------------------------------------*/
html,
body {
	background-color: #fff;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 1em;
}

	
/* =Links
-----------------------------------------------------------------------------*/



/* =Layout
-----------------------------------------------------------------------------*/

.wrapper {
	padding: 10px;
	width: 94%;
	max-width: 1000px;
	margin: auto;
}

